<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/header.css" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <div><a href="/" class="logo-click">궁석궁석</a></div>
            </div>
            <div class="nav">
                <div><a href="/">홈</a></div>
                <div><a href="/theme">테마별 추천</a></div>
                <div><a href="/map">지역별 추천</a></div>
                <div><a href="/random">랜덤추천</a></div>
            </div>
        </header>
        <script src="../public/js/header.js"></script>
    </body>
</html>
